.home-window{
    padding: 4rem;
    padding-top: 4.4rem;
    display: flex;
    padding-bottom: 0;
    overflow-x: hidden;
    /* margin-bottom: 7rem; */
}

.home-window .br-your{
    display: none;
}

.lottie-scroll-down-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lottie-scroll-down-wrapper .message-scroll{
    font-weight: 600;
    color: rgba(black,0.85);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    opacity: .8;
}

.lottie-scroll-down{
    width: 3rem;    
}

.home-window .left{
    width: 45%;
    font-weight: 800;
    font-size: 3.6rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
}
.home-window .left div .heighlight-text{
    color: rgb(230,79,2);
}

.home-window .left .lower-text{
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif !important;
    font-family: 'REM', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.home-window .right{
    width: 55%;
}

@media (max-width: 1455px){
    .home-window .left{
        width: 55%;
    }

    .home-window .right{
        width: 45%;
    }
}

@media (max-width: 1380px){
    .home-window .left > div{
        font-size: 3rem;
    }

    .home-window{
        padding-top: 8rem;
    }

    .home-window .left{
        width: 46%;
    }

    .home-window .right{
        width: 54%;
    }
}

@media (max-width: 1363px){
    .home-window{
        padding-top: 4.4rem;
    }
}

@media (max-width: 1234px){
    .home-window{
        padding: 4.4rem 1rem 0 2rem;
    }
    .home-window .br-tomorrow{
        display: none;
    }
    .home-window .br-your{
        display: block;
    }

}

@media (max-width: 1148px){
    html{
        font-size: 13px;
    }
}

@media (max-width: 1067px){
    .home-window .left{
        width: 52%;
    }
}

@media (max-width: 960px){
    html{
        font-size: 11px;
    }
}

@media (max-width: 850px){
    .home-window{
        flex-direction: column;
        gap: 2rem;
    }

    .home-window .left, .home-window .right{
        width: 100%;
    }

    .home-window .left{
        padding: 2rem 0 2rem 0;
    }
    .lottie-scroll-down-wrapper{
        margin-top: 3rem;
    }
    
}

@media (max-width: 485px){
    .home-window{
        padding-left:2rem ;
        padding-right: 2rem;
    }
}

@media (max-width: 430px){
    
}