/* swipper start */

.hero-topper-container .swipper-container{
  padding: 4rem 2rem;
  border: 2px solid rgb(230,79,2);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* box-shadow: 0px 0px 80px 1px rgba(230, 78, 2, 0.66) inset; */
  box-shadow:
    inset 0px 11px 8px -10px #CCC,
    inset 0px -11px 8px -10px #CCC,
    inset 11px 0px 8px -10px #CCC,
    inset -11px 0px 8px -10px #CCC;

}

.hero-topper-container .swiper {
    width: 51.6rem;
    margin: auto;
  }
  
.hero-topper-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
    width: 23rem !important;
    height: 23rem !important;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    /* background: red; */
    flex-direction: column;
    gap: 1.5rem;
    /* background: red; */
    border-radius: 16px !important;
    overflow: hidden !important;
  }
  
.hero-topper-container .swiper-slide:hover{
    cursor: grab;
}

.hero-topper-container .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.hero-topper-container .swiper-pagination {
    display: none; /* Hide the pagination dots */
}  
/* swipper ends */

.hero-topper-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.hero-topper-container .swipper-container{
    margin: auto;
}

.hero-topper-container .gradient{
  position: absolute;
  /* background: white; */
  height: 100%;
  width: 25%;
  z-index: 2;
  display: none;
}

.hero-topper-container .slider-page img{
  height: 100%;
}
