/* swipper start */
.topper-section-container .swiper {
    width: 100%;
    height: 100%;
  }
  
.topper-section-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
    width: 30rem !important;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.topper-section-container .swiper-slide:hover{
    cursor: grab;
}

.topper-section-container .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.topper-section-container .swiper-pagination {
    display: none; /* Hide the pagination dots */
}  
/* swipper ends */


.topper-section-container .image-bg-wrapper img{
    mix-blend-mode: multiply;
    width: 100%;
    z-index: -10;

    display: none;
}

.topper-section-container .image-bg-wrapper{
    position: absolute;
    /* top: -6rem; */
    left: 0;
    width: 20rem;
    /* transform: rotate(20deg); */
}

.topper-section-container .lottie-success{
    width: 20rem;
    position: absolute;
    top: -5rem;
    right: 2rem;
    display: none;
}

.topper-section-container .svg-wrapper{
    position: absolute;
    width: 100%;
    top: -1rem;
    z-index: -1;
    left: 0;
    /* display: none; */
}

.topper-section-container{
    padding: 0 3rem 5rem 3rem;
    margin-top: 2rem;
    position: relative;
    overflow-x: hidden;
}

.topper-section-container .heading{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: bold;
    color: rgb(230,79,2);
    margin-top: 2.5rem;
}

.topper-section-container .wrapper{
    width: 100%;
    height: 22rem;
    /* background: #000; */
    position: relative;
}

.topper-section-container .container{
    width: 100%;
    height: 80%;
    /* background: #0000002e; */
    position: absolute;
    bottom: 0;
}

.topper-section-container .container .top{
    display: flex;
    position: absolute;
    width: 100%;
    top: -3.5rem;
}

.topper-section-container .container .top .image-wrapper{
    background: rgb(218, 218, 196);
    width: 9rem;
    height: 9rem;
    margin: auto;
    border-radius: 50%;
    border: 0.5rem solid white;
    overflow: hidden;
    display: flex;
}

.topper-section-container .container .bottom{
    height: 90%;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
}

.topper-section-container .container .bottom .data-container{
    height: 100%;
    /* background-color: rgb(203, 211, 255); */
    background-color: rgba(245, 132, 75, 0.711);
    border-radius: 12px;
    padding: 2rem;
    padding-top:6rem;
    text-align: center;

}


.topper-section-container .container .bottom .data-container .name{
    font-weight: 800;
    color: rgb(17, 6, 46);
    font-size: 1.5rem;
}

.topper-section-container .container .bottom .data-container .rank{
    font-weight: 600;
    color: rgba(17, 23, 50, 0.6)
}

.topper-section-container .container .bottom .data-container .institute{
    /* font-weight: bold;
    color: rgb(17, 6, 46);
    font-size: 1.4rem; */
    font-weight: 600;
    color: rgba(17, 23, 50, 0.6)
}

@media (max-width: 550px){
    .exams-list-container{
        padding: 0 1rem;
    }

    .topper-section-container .swiper-slide {
        width: 100% !important;
    }
      
}

@media (max-width: 850px){
    .topper-section-container .image-bg-wrapper, .topper-section-container .lottie-success{
        display: none;
    }
}